  <div class="bg-white shadow">
    <p-tabs value="0">
      <p-tablist>
        <p-tab value="0">Header I</p-tab>
        <p-tab value="1">Header II</p-tab>
        <p-tab value="2">Header III</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <p class="m-0">
            laborum.
          </p>
        </p-tabpanel>
        <p-tabpanel value="1">
          <p class="m-0">
         modi.
          </p>
        </p-tabpanel>
        <p-tabpanel value="2">
          <p class="m-0">
            culpa q
          </p>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>


